# dependencies
node_modules
npm-debug.log
yarn-error.log

# build output
.next
out
dist

# local env files
.env
.env.local
.env.production
.env.development

# OS junk
.DS_Store
Thumbs.db

# backend (jer je već na cPanelu)
custom-suits-backend
